<h2>Edit <%= @project.name %></h2>

<h4><% if flash[:message]  != nil %>
  <%= flash[:message]%>
<% end %></h4>

<% if logged_in? && current_user %>

<form action="/projects/<%= @project.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @project.name %>" placeholder="Name of Project:">
  <input type="text" name="materials" value="<%= @project.materials %>" placeholder="Materials:">
  <input type="text" name="directions" value="<%= @project.directions %>" placeholder="Pattern Directions:">
  <input type="submit" value="Submit">
</form>

<% end %>

<p>flash message for those trying to delete project</p>
