<h4>Projects</h4>
<h5>Welcome, <%= current_user.username %></h5>

<% if logged_in? %>
  <ul>
    <% @project.each_with_index do |project, i| %>
      <li><%= i + 1 %>, <a href="/projects/<%= project.name %>"><%= project.name %></a></li>
    <% end %>
  </ul>
    <% end %>


<a href="/projects/<%= @project.id %>/edit">Edit Project</a>
