<h3>Project Pattern</h3>

<%= @project.name %>
<br />
<% if @materials.material_name == @project.project_id %>
<%= @materials.material_name %>
<% end %>
<br />
<%= @project.directions %>

      <br />

<form method="post" action="/projects/<%= @project.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Project">
</form>

<p>flash message for deleting someone else's project</p>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>

<br />

<a href="/projects">Go back to your list of projects</a>
