<h2>Project Pattern</h2>

<br />

<h5>Pattern Name</h5>
<%= @project.name %>
<br />
<br />

<h5>Pattern Materials</h5>
<%= @project.materials %>
<br />
<br />

<h5>Pattern Directions</h5>
<%= @project.directions %>
<br />
<br />

<% if current_user == @project.user  %>
  <form method="post" action="/projects/<%= @project.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Pattern">
  </form>

  <br />

  <a href="/projects/<%= @project.id %>/edit">Edit Pattern</a>
<% end %>
<br />
<br />

<a href="/projects">Go back to your list of projects</a>
